<h4>Products With Quantity less than 10</h4>
<ul>
  @for (item of getLowStockProducts(); track item) {
  <li>
    <p>
      <strong>{{ item.name }}:</strong>
      {{ item.countity }}
    </p>
  </li>
  }
</ul>
<h4>Products that Expire Within 10 Days</h4>
<ul>
  @for (item of getExpiringSoonProducts(); track item) {
  <li>
    <strong>{{ item.name }}</strong> <br />
    <strong>ExpierDate:</strong>
    {{ item.expDate | customDatePipe }}
    <strong>Countity:</strong>
    {{ item.countity }}
  </li>
  }
</ul>
<div class="row mb-3">
  <div class="col-6">
    <h1 class="text-info text-center text-decoration-underline">
      ProductsChart
    </h1>
    <div style="display: block; width: 80%; margin: 0 auto">
      <canvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'bar'"
      >
      </canvas>
    </div>
  </div>
</div>
